<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="WebTestSuite" verbose="1" >

    <listeners>
        <listener class-name="mypkg.PDFListener"/>
    </listeners>

    <test name="WebAutomation" >

        <classes>

        <class name="mypkg.LearningProperty"/>
        <class name="mypkg.testproperty"/>
        <class name="mypkg.MyTestNGClass"/>
        <class name="mypkg.testngclass2"/>
            <class name="mypkg.testemail"/>

            <class name="mypkg.PDFListener"/>

        </classes>

<!--
        <packages>
            <package name="mypkg"/>
        </packages>
-->
    </test>
</suite>
